@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #f69051;
    padding: 15px;
}
h2 {
    font-size: 30px;
}

/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/
section {
    background-color: #f9c48b;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

    img {
        width: 100%;
    }

    .image-wrapper {
        flex-basis: 600px;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

/*////////////////////////
    2. Media Queries
////////////////////////*/
/* mobile */

/* Tablet */
@media screen and (min-width: 768px) {
    section {
        padding: 1.5rem;
        font-size: 1.5rem;
        margin: 1.5rem;
        border-radius: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

/* Laptop or larger */
@media screen and (min-width: 992px) {
 body {
     background-color: #260803;
     font-size: 2rem;

     h2 {
         font-size: 2rem;
     }
     section {
         padding: 2rem;
         margin: 2rem;
         background-color: #FDEFEC;
         border-radius: 1rem;
     }
 }
}